---
import SectionScheme from "@src/components/comun/section-scheme.astro";
import FormContact from "@src/components/main-contacto/package/form-contact.astro";
import Container from "@src/components/comun/contener-div.astro";
---

<SectionScheme id="conactoContener" className="h-auto justify-center">
  <Container class="gap-5 my-20">
    <div class="flex-grow basis-0"><h1>Hola mundo</h1></div>
    <FormContact />
  </Container>
</SectionScheme>
