---
import InfoContactCard from "@src/components/main-contacto/package/info-contact-card.astro";
import MapInfoContact from "@src/components/main-contacto/package/map-info-contact.astro";
---

<div class="w-full h-auto flex flex-col flex-grow items-center basis-0 gap-3">
  <InfoContactCard />
  <MapInfoContact>
    <!-- Atributo de carga "data-load-target" en iframe -->
    <iframe
      data-load-target
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1975.0172754574835!2d-79.03703196122295!3d-8.097958942516996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d9381f195b9%3A0x1553a6faf07d47b8!2sSibelius%201049%2C%20Trujillo%2013001!5e0!3m2!1ses!2spe!4v1743963902658!5m2!1ses!2spe"
      width="800"
      height="600"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </MapInfoContact>
</div>
