---
import InfoContactCard from "@src/components/main-contacto/package/info-contact-card.astro";
import MapInfoContact from "@src/components/main-contacto/package/map-info-contact.astro";
---

<div class="flex flex-col gap-3">
  <InfoContactCard />
  <MapInfoContact />
</div>
