---
import InfoContactCard from "@src/components/main-contacto/package/info-contact-card.astro";
import MapInfoContact from "@src/components/main-contacto/package/map-info-contact.astro";
---

<div class="w-full h-auto flex flex-col flex-grow items-center basis-0 gap-3">
  <InfoContactCard />
  <MapInfoContact />
</div>
