@import "tailwindcss";
@import "@fontsource/racing-sans-one";
@import "@fontsource/bungee";
@import "@fontsource/bungee-inline";

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-primary: #facc15;
  --color-secondary: #de9400;
  --color-accent: #ebe9e3;

  --font-racing: "Racing Sans One", sans-serif;
  --font-bungee: "Bungee", serif;
  --font-bungee-inline: "Bungee Inline", sans-serif;
}
