@import "tailwindcss";
@import "@fontsource/racing-sans-one";
@import "@fontsource/bungee";
@import "@fontsource/bungee-inline";

@theme {
  --color-primary: #facc15;
  --color-secondary: #de9400;
  --color-tertiary: #683a08;
  --color-accent: #ebe9e3;
  --color-uni-secondary: #8d8d8d;

  --font-racing: "Racing Sans One", sans-serif;
  --font-bungee: "Bungee", serif;
  --font-bungee-inline: "Bungee Inline", sans-serif;
}

@layer utilities {
  @keyframes bounce {
    100% {
      top: -12px;
      text-shadow: 0 5px 3px #ccc, 0 7px 5px #ccc, 0 9px 7px #ccc,
        0 11px 9px #ccc, 0 13px 11px #ccc;
    }
  }
}
