---
import SectionScheme from "@src/components/comun/section-scheme.astro";
---

<SectionScheme
  id=""
  className="w-full h-auto flex-col gap-5 justify-center items-center bg-primary py-20"
>
  <h1 class="text-4xl font-bungee-inline">¡Reserva tu servicio ahora!</h1>
  <p class="text-xl">Obtén un 10% de descuento en tu primera visita</p>
  <button
    class="text-white text-2xl font-bungee font-bold mb-4 px-3 py-2 bg-black rounded-lg shadow-inner shadow-gray-400 hover:cursor-pointer transition-all duration-150 ease-in-out"
    >Reservar Ahora</button
  >
</SectionScheme>
