---
import Layout from "@src/layouts/Layout.astro";
import Nav from "@src/components/header/nav.astro";
import Group from "@src/components/main/group.astro";
---

<Layout title="Home" description="Home page">
  <header class="w-full h-auto max-w-[2000px]">
    <Nav />
  </header>
  <main class="w-full h-auto max-w-[2000px]">
    <Group />
  </main>
  <footer class="w-full h-auto max-w-[2000px]"></footer>
</Layout>
