---
import SectionScheme from "@src/components/comun/section-scheme.astro";
import H1Title from "@src/components/comun/h1-title.astro";
import ShadowInnerImage from "@src/components/comun/shadow-inner-image.astro";
import Mascara from "@src/components/comun/mascara.astro";

import Abrillantado from "@public/galeria-actions/abrillantado.webp";
import Desarmado from "@public/galeria-actions/desarmado.webp";
import Pulido from "@public/galeria-actions/pulido.webp";

const images = [
  {
    src: Abrillantado.src,
    alt: "abrillantado",
  },
  {
    src: Desarmado.src,
    alt: "desarmado",
  },
  {
    src: Pulido.src,
    alt: "pulido",
  },
];
---

<SectionScheme
  id="action"
  className="h-auto flex-col justify-center gap-5 mb-20"
>
  <H1Title title="Nuestro Equipo en Acción" />
  <div class="w-4/5 h-96 flex justify-between items-center gap-10">
    {
      images.map((image) => {
        const { src, alt } = image;

        return (
          <div class="w-auto h-full flex relative overflow-hidden flex-grow basis-0 rounded-lg group">
            <img
              src={src}
              alt={alt}
              class="absolute size-full object-cover object-top group-hover:scale-110 transition-transform duration-300 ease-in-out"
            />
            <ShadowInnerImage />
            <Mascara direction="bottom" />
            <div class="absolute size-full flex items-end justify-center">
              <div class="size-auto px-4 py-2 bg-white rounded-t-lg">
                <h1 class="font-bungee text-2xl text-primary uppercase drop-shadow-[2px_2px_1px_rgba(0,0,0,0.7)]">
                  {alt}
                </h1>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</SectionScheme>
