---
import LinkA from "@src/components/comun/anchor.astro";
import Contenedor from "@src/components/comun/contener-div.astro";
---

<Contenedor class="flex-col my-10">
  <hr class="my-6 border-[#2e2e2e]" />
  <h1 class="text-white text-center">
    © 2025
    <LinkA
      href="https://www.facebook.com/share/15xeSc1J6U/"
      class="hover:underline"
    >
      Smart Carwash
    </LinkA>
    . Todos los derechos reservados.
  </h1>
</Contenedor>
