---
import SectionScheme from "@src/components/comun/section-scheme.astro";
import { images } from "@src/utils/galery-images";
---

<SectionScheme id="galeria" class="h-[550px] p-2">
  <div class="size-full flex gap-2 rounded-xl overflow-hidden group">
    {
      images.map((image, index) => (
        <img
          src={image.src}
          alt={`Imagen ${index + 1} de galeria`}
          class="w-0 grow object-cover brightness-100 contrast-100 transition-all duration-200 ease-in-out group-hover:brightness-50 group-hover:contrast-90 hover:brightness-100 hover:contrast-125 hover:grow-[5]"
        />
      ))
    }
  </div>
</SectionScheme>
