---
import SectionScheme from "@src/components/comun/section-scheme.astro";

import Galeria1 from "@public/galeria/1.jpg";
import Galeria2 from "@public/galeria/2.jpg";
import Galeria3 from "@public/galeria/3.jpg";
import Galeria4 from "@public/galeria/4.jpg";
import Galeria5 from "@public/galeria/5.jpg";
import Galeria6 from "@public/galeria/6.jpg";
import Galeria7 from "@public/galeria/7.jpg";
import Galeria8 from "@public/galeria/8.jpg";
import Galeria9 from "@public/galeria/9.jpg";
import Galeria10 from "@public/galeria/10.jpg";

const images = [
  Galeria1,
  Galeria2,
  Galeria3,
  Galeria4,
  Galeria5,
  Galeria6,
  Galeria7,
  Galeria8,
  Galeria9,
  Galeria10,
];
---

<SectionScheme id="galeria" className="h-[550px] p-2">
  <div class="size-full flex gap-2 rounded-xl overflow-hidden group">
    {
      images.map((image, index) => (
        <img
          src={image.src}
          alt={`Imagen ${index + 1} de galeria`}
          class="w-0 grow object-cover brightness-100 contrast-100 transition-all duration-200 ease-in-out group-hover:brightness-50 group-hover:contrast-90 hover:brightness-100 hover:contrast-125 hover:grow-[5]"
        />
      ))
    }
  </div>
</SectionScheme>
