---
import SectionScheme from "@src/components/comun/section-scheme.astro";
import ButtonContent from "@src/components/comun/button-content.astro";
---

<SectionScheme
  id="reserva"
  className="h-auto flex-col gap-5 justify-center bg-primary py-20"
>
  <h1 class="text-4xl font-bungee-inline">¡Reserva tu servicio ahora!</h1>
  <p class="text-xl">Obtén un 10% de descuento en tu primera visita</p>
  <ButtonContent title="Reservar Ahora" variant="secondary" />
</SectionScheme>
