---
import type { AnchorProps, ClassProps } from "@src/utils/type-props";

type combinatedProps = AnchorProps & ClassProps;

const { href, class: className } = Astro.props as combinatedProps;
---

<a href={href} target="_blank" rel="noopener noreferrer" class={className}>
  <slot />
</a>
