---
import type { AnchorProps } from "@src/utils/type-props";

const { href, className } = Astro.props as AnchorProps;
---

<a href={href} target="_blank" rel="noopener noreferrer" class={className}>
  <slot />
</a>
