---
interface Props {
  href: string;
  className: string;
}

const { href, className } = Astro.props as Props;
---

<a href={href} target="_blank" rel="noopener noreferrer" class={className}>
  <slot />
</a>
