---
import type { ContenerDivProps, ClassProps } from "@src/utils/type-props";

type CombinatedProps = ContenerDivProps & ClassProps;

const { class: className, varible = "flex" } = Astro.props as CombinatedProps;
---

<div class:list={["w-4/5 h-auto", className, varible]}>
  <slot />
</div>
