---
import WaMe from "@src/assets/redes-svg/wa-me.svg";
---

<button
  class="group overflow-hidden flex justify-center items-center fixed z-50 right-0 bottom-0 m-7 size-auto rounded-full shadow-inner hover:cursor-pointer bg-primary border border-primary shadow-black/90"
>
  <WaMe
    class="text-black size-10 m-2 group-hover:scale-105 transition-all duration-100 ease-out"
  />
</button>
