---
import type { ContenerDivProps } from "@src/utils/type-props";

const { class: className, varible = "flex" } = Astro.props as ContenerDivProps;
---

<div class:list={["w-4/5 h-auto", className, varible]}>
  <slot />
</div>
