---
import type { H1TitleProps, TitleProps } from "@src/utils/type-props";

type CombinatedProps = TitleProps & H1TitleProps;

const {
  title,
  color = "text-primary",
  size = "text-[43px]",
} = Astro.props as CombinatedProps;
---

<h1
  class:list={[
    "font-bungee-inline drop-shadow-[2px_2px_1px_rgba(0,0,0,0.7)]",
    color,
    size,
  ]}
>
  {title}
</h1>
