---
import type { SectionSchemeProps, ClassProps } from "@src/utils/type-props";

type CombinatedProps = SectionSchemeProps & ClassProps;

const { id, class: className } = Astro.props as CombinatedProps;
---

<section id={id} class:list={["w-full flex items-center", className]}>
  <slot />
</section>
