---
import type { SectionSchemeProps } from "@src/utils/type-props";

const { id, className } = Astro.props as SectionSchemeProps;
---

<section id={id} class:list={["w-full flex items-center", className]}>
  <slot />
</section>
