---
interface Props {
  title: string;
  color?: string;
}

const { title, color = "text-primary" } = Astro.props as Props;
---

<h1
  class:list={[
    "font-bungee-inline text-[43px] drop-shadow-[2px_2px_1px_rgba(0,0,0,0.7)]",
    color,
  ]}
>
  {title}
</h1>
