---
import ContactMeComponent from "@src/components/dialog/dialog-component.astro";
---

<header class="w-full h-auto max-w-[2000px]">
  <slot name="header" />
</header>
<main class="w-full h-auto max-w-[2000px]">
  <slot name="main" />
  <ContactMeComponent />
</main>
<footer class="w-full h-auto max-w-[2000px]">
  <slot name="footer" />
</footer>
